.sales-review {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.sales-chart {
  border-radius: 14px;
  background-color: #ffffff;
  width: 90%;
}

.chart {
  width: 80%;
  height: 70%;
}