.cards {
  display: flex;
  gap: 15px;
}

.card-container {
  width: 100%;
}


@media screen and (max-width: 1400px) {
  .cards {
    flex-direction: column;
  }
}

@media screen and (max-width: 728px) {
  .cards {
    width: 90%;
  }
}