.Table {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.Table h3 {
  font-size: 25px;
}

.MuiTableRow-root > * {
  padding: px;
}

.MuiTableRow-root.MuiTableRow-head > * {
  font-weight: bold !important;
  font-size: 20px;
}

.Table th, td {
  border: none !important;
}

.Table:first-child {
  border-radius: 0.7rem !important;
}

.status {
  padding: 10px;
  border-radius: 7px;
}

.Details {
  color:  #00b5ff ;
  font-size: 1000px;
}

@media screen and (max-width: 1200px) {
  .Table {
    width: 160%;
    margin-top: 1.3rem;
  }
}

@media screen and (max-width: 728px) {
  .Table {
    align-items: center;
    width: 23rem;
    position: relative;
  }

  .Table::-webkit-scrollbar {
    display: none;
  }
}